services:
  app:
    build:
      context: .
      dockerfile: ./docker/common/php-fpm/Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    tty: true
    environment:
      APP_ENV: local
      APP_DEBUG: true
      APP_KEY: base64:${APP_KEY}

      DB_CONNECTION: sqlite
    volumes:
      - .:/var/www
      - sqlite_data:/var/www/database
    networks:
      - laravel_network

  nginx:
    image: nginx:stable
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./docker/common/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel_network

volumes:
  sqlite_data:

networks:
  laravel_network:
    driver: bridge
